/* Universal Styles */
html {
  font-family: 'Lato', sans-serif;
  color: #5C575C;
  font-size: 14px;
}

/* Header */
.header {
height: 64px;
background-color: white;
font-family: 'Hind', sans-serif;
font-size: 1.3rem;
}

.innerheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
}

.logotext {
  color: #5C575C;
}

.logotexttwo {
  color: lightgrey;
}

.logo img {
  margin-left: 24px;
  height: 32px;
}

.header .menu ul {
  display: flex;
  justify-content: space-between;
}

.header .menu ul li {
  padding-left: 16px;
  color: #5C575C;
}

.header .mobile-menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header .menu, .logotext, .logotexttwo {
    display: none;
  }
  .header .mobile-menu {
    display: block;
  }
}

/* Begin Learn Something section */

.main-banner {
  background-color: lightgrey;
  display: flex;
  width: 100%;
  align-items: center;
}

.main-banner .img-container {
  width: 60%;
  padding: 32px 24px 32px 24px;
}

.main-banner .img-container img {
  width: 100%;
}

.main-banner .text-container {
  width: 35%;
  padding: 0px 16px 0px 0px;
  color: #5C575C;
}

.main-banner .text-container .chunk {
  margin: 24px 16px;
}

.main-banner .text-container .learn {
  font-size: 2.2em;
  font-weight: bold;
  margin-right: 150px;
}

.main-banner .text-container .lorem {
  font-size: 20px;
  margin-right: 150px;
}

.main-banner .text-container .start {
  background-color: #5C575C;
  color: white;
  font-size: 1.1em;
  padding: 8px 0px;
  text-align: center;
  margin-right: 150px;
}

@media only screen and (max-width: 600px) {
  .main-banner {
    display: block;
    padding: 0px;
  }

  .main-banner .img-container {
    padding: 0px;
    width: 100%;
  }

  .main-container img {
    width: 100%;
  }

  .main-banner .text-container {
    width: auto;
    margin: 0px;
    padding: 32px 16px;
  }

  .main-banner .text-container .chunk {
    margin: 0px;
  }

  .main-banner .text-container .learn {
    margin-bottom: 32px;
    margin-right: 100px;
  }

  .main-banner .text-container .lorem {
    margin-bottom: 24px;
    margin-right: 100px;
  }

  .main-banner .text-container .start {
    margin-bottom: 32px;
    margin-right: 100px;
    background-color: darkgrey;
  }
}

/* Campus Info Section */

.column-split {
  background-color: white;
  display: flex;
  width: 100%;
}

/* Left side */

.column-split .column-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.column-left .img-container img {
  width: 100%;
}

.it {
  margin-top: 32px;
  font-size: 40px;
  font-weight: bold;
}

.cura {
  margin-top: 24px;
  font-size: 20px;
}

.emanuel {
  margin-top: 32px;
  font-size: 1em;
}

/* Right side */

.column-split .column-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding: 32px 0px;
  border-left: 0.5px solid lightgrey;
}

.column-split .column-right .image {
  width: 40%;
  align-self: center;
}

.column-split .column-right .info {
  width: 60%;
}

.column-split .column-right .image-mobile {
  display: none;
}

.column-split .column-right .image img {
  width: 100%;
}

.orientation {
  display: flex;
  padding: 0px 16px 16px 16px;
  border-bottom: 0.5px solid lightgrey;
  transition: background-color 0.3s linear 0s;
}

.campus, .lecture {
  display: flex;
  padding: 16px;
  border-bottom: 0.5px solid lightgrey;
  transition: background-color 0.2s linear 0.1s;
}

.orientation:hover, .campus:hover, .lecture:hover {
  background-color: lightgrey;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  margin: auto;
}

.info .top, .info .middle, .info .bottom {
  padding: 8px 0px;
}

.info .top {
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0px;
}

.info .middle {
  font-size: 14px;
  padding: 8px 0px;
}

.info .bottom {
  color: #3EC3FD;
  font-size: 14px;
  padding: 8px 0px;
}

.campus {
  display: flex;
  padding: 16px;
  border-bottom: 0.5px solid lightgrey;
  transition: background-color 0.2s linear 0.1s;
}

@media only screen and (max-width: 600px) {
  .column-split .column-left {
    display: none;
  }

  .column-split .column-right {
    width: 100%;
  }

  .orientation,
  .campus,
  .lecture {
    flex-direction: column;
  }

  .column-split .column-right .image {
    display: 100%;
  }

  .column-split .column-right .image {
    display: none;
  }

  .column-split .column-right .image-mobile {
    display: block;
  }

  .column-split .column-right .info {
    width: 100%;
    padding: 0px;
  }
}
/* Begin course options section */

.startlearning {
  background-color: #DDDDDE;
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  text-align: center;
  padding: 32px 0px;
}

.classes-container {
  background-color: #DDDDDE;
  width: 100%;
  padding-bottom: 32px;
}

.classes-top {
  padding: 0px 64px;
  display: flex;
  justify-content: center;
  margin: 0px 72px;
}

.classes-top .class:hover, .classes-bottom .class:hover {
  background-color: #3EC3FD;
  color: white;
}

.classes-top .class {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 33%;
  background-color: white;
  transition: background-color 0.5s linear 0s;
  transition: color 0.5s linear 0s;
}

.classes-bottom {
  padding: 0px 64px;
  display: flex;
  justify-content: center;
  margin: 0px 72px;
}

.classes-bottom .class {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 33%;
  background-color: white;
  transition: background-color 0.5s linear 0s;
  transition: color 0.5s linear 0s;
}

.class img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .classes-top,
  .classes-bottom {
    flex-direction: column;
    padding: 8px 16px;
    margin: 0;
    background-color: white;
  }

  .classes-top .class,
  .classes-bottom .class {
    width: 100%;
    margin: 16px 0;
    background-color: lightgrey;
  }

  .class img,
  .class .course,
  .class .detail {
    display: none;
  }

  .startlearning {
    background-color: white;
    padding-bottom: 0px;
  }
}

.name {
  padding: 16px 16px;
  font-size: 25px;
  min-height: 50px;
}

.course {
  padding: 8px 16px;
}

.detail {
  padding: 8px 16px;
}

/* Begin thesis section */

.thesis {
  background-color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
  padding: 32px 0px;
  border-top: 2px solid lightgrey;
}

.video-main {
  background-color: white;
  display: flex;
  width: 100%;
  border-bottom: 0.5px solid lightgrey;
}

/* Left side */

.video-main .video-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 32px 24px;
}

.video-main .video-column .video video {
  width: 100%;
  border: 2px solid lightgrey;
}

.reimagine {
  margin-top: 32px;
  font-size: 40px;
}

.curab {
  margin-top: 24px;
  font-size: 24px;
}

/* Right side */

.video-main .text-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding: 0px 0px 32px 0px;
  margin-right: 8px;
}

.video-main .text-column .text-container {
  width: 60%;
}

.video-main .text-column .text-image {
  width: 40%;
  align-self: center;
}

.video-main .text-column .text-image img {
  width: 100%;
}

.texttop, .textbottom {
  display: flex;
  padding: 16px;
  transition: background-color 0.2s linear 0.1s;
}

.texttop:hover, .textbottom:hover {
  background-color: lightgrey;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  margin: auto;
}

.text-container .text-top, .text-container .text-bottom {
  padding: 8px 0px;
}

.text-container .text-top {
  font-size: 25px;
}

.text-container .text-bot {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .video-main .video-column {
    width: 100%;
    padding: 0 0 24px;
  }

  .reimagine,
  .curab {
    display: none;
  }

  .video-main .text-column {
    display: none;
  }
}

/* Begin footer */

.footer {
  display: flex;
  background-color: white;
  color: darkgray;
  justify-content: space-between;
  width: auto;
  padding: 16px 24px 32px 24px;
}

.contain-links-ul {
  display: flex;
}

.contain-links-ul li {
  margin-left: 8px;
}


ol, ul {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .container-links {
    display: none;
  }
}
